/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 

 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @import "bootstrap-sprockets";
 @import "bootstrap";
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.notice{
	color: green;
	text-align: right;
	padding-left: 150px;
}
body {
  padding-top: 0px;
  font-family: Comic Sans MS ;
}
.alert{
	color: green;
	text-align: left;
	padding-left: 150px;
}

nav ul{
    padding: 0px; 	
    margin: 0px;
} 


nav ul li {
    display: inline; 	
    margin-right: 1em;
} 

nav ul li a { 
    font-family: "Trebuchet MS", sans-serif; 
    text-decoration: none;
    color: #fff; 	 
} 


nav ul li a:hover{ 
    border-bottom: dotted 1px #fff;	 
}

 .navbar{
 background-color:#660099;
 margin-bottom: 0;
 }

 .navbar-header{
 color:white;
 }

.navbar-nav > li > a {
color:#9d9d9d;
 }
.error-explanation{
	color: red;
}
.error-explanation ul{
	padding-left:60px;
}
 .footer-text{
 float: right;
 padding-right:100px;
 }

.box14{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

.font{
  font-size:10px;
}

.kabegami{
  background-image: url(kabegami.jpg);
  background-size: 225px,225px;
  background-repeat: repeat;
}