// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.notice{
	color: green;
	text-align: right;
	padding-left: 150px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  
}

.first-review-name {
    line-height: 2;
}

.review {
	line-height: 4;
	
}

.first-review-review {
	line-height: 4;
}

.total-review {
	line-height: 4;
}

.review-button {
	coler: #660099;
}


.top {
  background-image: url(nagano2.jpg);
  height: 1000px;
  background-size:cover;
}


.productbox {
  width: 23%;
  height: 400px;
  font-size:20px;
  float: left;
  list-style: none;
  vertical-align:  top;
  margin: 5px;
  padding: 5px;
  color: white ;
  background-color: #d5aaff ;
  font-family: Comic Sans MS ;
  text-align: center;
  box-sizing: border-box;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}
