// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.notice{
	color: green;
	text-align: right;
	padding-left: 150px;
}
body {
	padding-top: 50px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.first-review-name {
    line-height: 2;
}

.review {
	line-height: 4;
	
}

.first-review-review {
	line-height: 4;
}

.total-review {
	line-height: 4;
}

.review-button {
	coler: #660099;
}
.productbox {
  width: 22%;
  height: 400px;
  float: left;
  list-style: none;
  vertical-align:  top;
  margin: 5px;
  padding: 10px;
  background-color: #669933;
  text-align: center;
  box-sizing: border-box;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}