<div class="top">
  <div class="top-message col-xs-offset-1 col-xs-8">
    <h2>
      いらっしゃいませ！！<br><br>
      <span class="glyphicon glyphicon-cd"></span> 
      <strong>CDかえ～る</strong> <span class="glyphicon glyphicon-cd"></span>  へ
    </h2>
    <p>
       
        <strong>長野から全国へ...!!</strong><br>
      CDで非圧縮音源の良さを伝えたい.....<span class="glyphicon glyphicon-bullhorn"></span><br>
      長野のCDショップからCDをお届け致します！
    </p>

　　　<br>
    ※各ページへの移動はヘッダーのリンクをご利用下さいませ
      <br>
    </p>

 
</div>
  
   <%= image_tag('nagano4.jpg', style: "width: 200px; height: 200px;" ,class: "img-circle pull-right profile-thumb") %>